
# Node
node_modules/
npm-debug.log
yarn-error.log
.yarn-integrity

# Android
android/build/
android/app/build/
android/.gradle/
android/app/src/main/assets/index.android.bundle
android/app/.cxx/
*.keystore
.env

# iOS
ios/build/

# Jest
/coverage

# IDX
.idx/
